p {
    background-color: yellow;
}

#Image {
    background-color: white;
}

.Title {
    font-weight: 800;
    background-color: blue;
    color:white;
}

.Title.Recipe {
    font-weight: 800;
    background-color: white;
    color:black;
    font-size: large;
}

